body {
  margin: 0;
  font-family: 'Roboto',-apple-system, BlinkMacSystemFont, 'Segoe UI',  'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(./bgn.jpg) ;
  background-size: cover;
  width: 100%;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


#logo{
  width:99%;
  height:150px;
  border-right: 1px solid #253053 ;
}
/* .Fields{
  margin: 0;
  border: 2px solid whitesmoke;
  padding:6px;
  width:14vw;
  
} */



label{
  overflow: hidden;
  text-overflow: ellipsis; 
}
/* .uploadField{
  padding:0 6px 10px 6px;
  display: block;
  position: relative;
  justify-content:center;
  align-content: center;
  
} */
.uploadField{
border-radius : 45px;
position: relative;
width: 90%;
height: 45px;
justify-content:center;
text-align: center;
margin-bottom: 10px;
text-overflow: ellipsis; 

}
.uploadField>label{
  text-align: center;
  border: 2px solid whitesmoke;
  text-overflow: ellipsis; 
  position:absolute;
  z-index: index 1;
  bottom:14px;
font-size:.95rem;
font-weight:bold;

}
#submit1{
  color:cornflowerblue;
  font-size: 1.3rem;
  
}
/* #submit{
  width: 90%;
  display: inherit;
  position: relative;
  left:8px;
  border-radius: 45px;
} */
